	<div class="form-group">
		<label class="control-label col-sm-2" for="parameterTypesId2">Parameter type</label>
		<div class="col-sm-10">
			<select 
				class="form-control" id="parameterTypesId2" 
				required 
				[(ngModel)]="editedParam.type" 
				name="type"
				#paramTypeInput="ngModel">
				<option *ngFor="let paramType of productParamsTypes" [ngValue]="paramType">{{paramType.name}}</option>
			</select>
					
			<div [hidden]="paramTypeInput.valid || paramTypeInput.pristine" class="alert alert-danger">
			Type is required
			</div>					
					
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-sm-2" for="parameterValueId">Parameter value</label>
		<div class="col-sm-10">
			<input id="parameterValueId" type="text" class="form-control"
				required
				[(ngModel)]="editedParam.value" 
				#paramValueInput="ngModel">							
			<div [hidden]="paramValueInput.valid || paramValueInput.pristine" class="alert alert-danger">
			Value is required
			</div>					
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="parameterBigValueId">Parameter big value</label>
		<div class="col-sm-10">
			<textarea id="parameterBigValueId" 
				rows="4" cols="50" class="form-control"
				[(ngModel)]="editedParam.bigValue"
			></textarea>							
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
		</div>
	</div>
