<div class="modal" bsModal #modal="bs-modal" tabindex="-1" role="dialog">
	
<form class="form-horizontal" (ngSubmit)="confirmAddParam()" #editedParamForm="ngForm" novalidate>
				
	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-header">
				<h4 class="modal-title pull-left">Add param to product "{{product.name}}"</h4>
				<button type="button" class="close pull-right" aria-label="Close"
					(click)="addParamCloseModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">
				<param-details [editedParam]="param"></param-details>
				
				<input type="text" required [(ngModel)]="param.value" name="zzzzzzzzzz">
			</div>
			
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-cancel" 
					(click)="addParamCloseModal();">Cancel</button>
				<button
					type="submit" 
					class="btn btn-success" 
					[disabled]="!editedParamForm.form.valid">Save</button>
					diagnostic.form.valid {{editedParamForm.form.valid}}
			</div>
		
		</div>
	</div>
	
</form>
				
</div>	