body {
    background-color: #F4F4F4";
    
    color: #black;
	margin: 0px;
	padding: 0;
}

.main-section {
	background-color: #F4F4F4;
}


.content {
	background-color: #F4F4F4;
	margin: 0px;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    background-color: #C0B283;
    color: black;
    text-align: center;
    padding: 1rem;	
}

.menu-section {
	background-color: #373737;
}

.mainMenu {
	text-align: right;
	color: white;
}

.menuButton {
	color: white;
	border: solid 2px #373737;
}

.menuButton.md-default-theme.md-focused:not([disabled]), 
.menuButton.md-focused:not([disabled]), 
.menuButton.md-default-theme:hover:not([disabled]), 
.menuButton:hover:not([disabled]) {
	background: transparent;
	background-color: transparent;
	color: yellow;
	border: solid 2px yellow;
}

.menuButton:focus, .menuButton:hover {
    color: yellow;
}

p {
	align="justify"
}

.jobquotation {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
    
    border: 2px solid #000000;
    border-radius: 4px;
    
    white-space: pre-wrap;
	word-wrap: normal;
}