body {
    background-color: #white;
    color: #white;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 0px;
	padding: 0;
}

.main-section {
	background-color: #DFE2DB;
}

.menu-section {
	background-color: #191919;
}

.content {
	margin: 0px;
	margin-top: 50px;
}

.mainMenu {
	text-align: right;
	color: white;
}

.mainMenu a {
	margin-right: 20px;
	color: white;
}

.mainMenu a:link {
    text-decoration: none;
	color: white;
}

.mainMenu a:visited {
    text-decoration: none;
	color: white;
}

.mainMenu a:hover {
    text-decoration: underline;
	color: #FFF056;
	border: solid 2px #FFF056;
}

.mainMenu a:active {
    text-decoration: underline;
	color: white;
}

.footer {
	color: white;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #191919;
	text-align: center;
}