<div class="md-menu-demo" ng-controller="MenuCtrl as ctrl" ng-cloak>

	<md-button class="menuButton" href="#aboutUs">O nas</md-button>
	<md-button class="menuButton" href="#forEmployer">Współpraca Biznesowa</md-button>

	<md-menu md-offset="0 50">
		<md-button class="menuButton" ng-click="$mdMenu.open()">Praca za granicą</md-button>
		<md-menu-content>
            <md-menu-item>
				<md-button ng-click="ctrl.menuButtonClick('/workNetherlands')">Holandia</md-button>
            </md-menu-item>
            <md-menu-item>
				<md-button ng-click="ctrl.menuButtonClick('/workFrance')">Francja</md-button>
            </md-menu-item>
            <md-menu-item>
				<md-button ng-click="ctrl.menuButtonClick('/workGermany')">Niemcy</md-button>
            </md-menu-item>
            <md-menu-item>
				<md-button ng-click="ctrl.menuButtonClick('/workBelgium')">Belgia</md-button>
            </md-menu-item>
		</md-menu-content>
	</md-menu>
	
	<md-button class="menuButton" href="#workInPolandForForeigners">Praca w Polsce dla cudzoziemców</md-button>
	<md-button class="menuButton" href="#foreignersService">Obsługa cudzoziemców</md-button>
	<md-button class="menuButton" href="#contact">Kontakt</md-button>
	
</div>