<!DOCTYPE html>
<html lang="en">
<head>
	<title>product parameters</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	
	<script src="js/app.js"></script>		
	<script src="js/productParamEditor.directive.js"></script>
</head>
	
<body>

<div ng-app="productParametersApp" ng-controller="productParametersController as pp">

		<div class="row">
			
			<div class="col-sm-2">
				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>Product Name</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="product in products"
							ng-click="pp.setSelectedProduct(product)"
							ng-class="{info: product.id === selectedProduct.id}">
							<td>{{ product.name }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="col-sm-10">

				<button type="button" class="btn btn-default" 
					data-toggle="modal" 
					ng-disabled="selectedProduct == null"
					ng-click="pp.openParamWindow('#addParamModal')">Add param</button>
				<button type="button" class="btn btn-default" 
					data-toggle="modal" 
					ng-disabled="selectedParam == null"
					ng-click="pp.openEditParamWindow('#addParamModal')">Edit param</button>
			
				selected product: <b>{{ selectedProduct.name }}</b>
				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Value</th>
							<th>Big value</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="param in productParameters" 
							ng-click="pp.setSelectedParam(param)"
							ng-class="{info: param.id === selectedParam.id}">
							<td>{{ param.type.name }}</td>
							<td>{{ param.value }}</td>
							<td>{{ param.bigValue }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	<product-param-editor-widget 
		parameter-types-data="parameterTypes"
		control="paramWindowControl"
		when-save-param="pp.onSaveParam(param)">
	</product-param-editor-widget>
	
</div>
	
</body>

</html>