<!DOCTYPE html>
<html lang="en">
<head>
	<title>product parameters</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>		
</head>
	
<body>

<div ng-app="productParametersApp" ng-controller="productParametersController as pp">

		<div class="row">
			
			<div class="col-sm-2">
				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>Product Name</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="product in products"
							ng-click="pp.setSelectedProduct(product)"
							ng-class="{info: product.id === selectedProduct.id}">
							<td>{{ product.name }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="col-sm-10">
			
				<div ng-include src="'paramModal.html'"></div>
				<div ng-if="selectedProduct != null">
					<button type="button" class="btn btn-default" data-toggle="modal" ng-click="pp.openParamWindow('#addParamModal')" >Add param</button>
				</div>
			
				selected product: <b>{{ selectedProduct.name }}</b>
				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Value</th>
							<th>Big value</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="param in productParameters" 
							ng-click="pp.setSelectedParam(param)"
							ng-class="{info: param.id === selectedParam.id}">
							<td>{{ param.type.name }}</td>
							<td>{{ param.value }}</td>
							<td>{{ param.bigValue }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
</div>
	
<script charset="UTF-8">
var app = angular.module('productParametersApp', []);
app.factory('ProductRepository', function ($resource) {
	return $resource( 'rest/product/:productId/addParam', { productId: '@productId' } );
}).controller('productParametersController', function($scope, $http) {
	$scope.newParam = {};
	self = this;
	
	self.setSelectedProduct = function(product) {
		$scope.selectedProduct = product;
		self.loadProductParameters();
	}
	
	self.setSelectedParam = function(param) {
		$scope.selectedParam = param;
	}
	
	self.loadProductParameters = function() {
		$http.get("rest/product/" + $scope.selectedProduct.id + "/parameters").then(function(response) {
			$scope.productParameters = response.data;
		});
	}
	
	self.loadProductsList = function() {
		$scope.selectedProduct = null;
		$scope.productParameters = [];
		
		$http.get("rest/product/list").then(function(response) {
			$scope.products = response.data;
		});
	}
	
	self.loadProductParametersType = function() {
		$http.get("rest/parameterType/list").then(function(response) {
			$scope.parameterTypes = response.data;
			$scope.newParam.selectedParameterType = $scope.parameterTypes[0];
		});
	}
	
	self.addParam = function() {
		var data = { 
			productId: $scope.selectedProduct.id,
			type: {
				id: $scope.newParam.selectedParameterType.id
			},
			value: $scope.newParam.value, 
			bigValue: $scope.newParam.bigValue 
		};
		$http.post("rest/product/" + $scope.selectedProduct.id + "/addParam", data).then(
			function onSuccess(response) {
				self.loadProductParameters();					
			},
			function onError(response) {
				alert('error status: ' + response.status + ', data: ' + response.data);
			}
		);
	}
	
	self.saveParam = function(modalId) {
		self.addParam();
		// TODO: after http.post download (on promice)
		$(modalId).modal("hide");
	}
	
	self.openParamWindow = function(modalId) {
		$scope.newParam = {};
		$(modalId).modal("show");
	}
	
	self.loadProductParametersType();
	self.loadProductsList();
});
</script>
	
</body>

</html>