<div id="jobOfferTitle" style="float: left; max-width: 330px; height: 500px; margin-right: 5px;">
	<div ng-repeat="(countryCode, list) in $ctrl.jobByCountry">
		<span>{{"country." + countryCode | translate}}</span>
		
		<div ng-repeat="n in $ctrl.jobByCountry[countryCode]">
			<span 
				ng-style="$ctrl.actualJobOffer.id === n.id && {'font-weight': 'bold'}"
				ng-click="$ctrl.showJobOffer(n)"> - {{n.title}}</span><br />
		</div>
		<br/>
	</div>
</div>

<div id="jobOfferDescription" style="width: 100%">
	<div ng-if="$ctrl.actualJobOffer != null"> 
	<b>{{$ctrl.actualJobOffer.title}} - {{$ctrl.actualJobOffer.address}}</b> <br>
	
	<pre class="jobquotation">{{$ctrl.actualJobOffer.description}}</pre>
	
	</div>
</div>


<br>
<br>
<br>
