body {
    background-color: white;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 5px;
	padding: 0;
}

.content {
	margin: 50px;
}

.mainMenu {
	text-align: right;
	color: black;
}

.mainMenu a {
	margin-right: 20px;
	color: black;
}

.mainMenu a:link {
    text-decoration: none;
	color: black;
}

.mainMenu a:visited {
    text-decoration: none;
	color: black;
}

.mainMenu a:hover {
    text-decoration: underline;
	color: black;
}

.mainMenu a:active {
    text-decoration: underline;
	color: black;
}
