<p>student works!</p>

<form [formGroup]="studentForm" (ngSubmit)="onSubmit(studentForm.value)">

    <div>
        <mat-form-field appearance="standard">
            <mat-label>Imię</mat-label>
            <input matInput placeholder="Imię" formControlName="firstname">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="standard">
            <mat-label>Nazwisko</mat-label>
            <input matInput placeholder="Nazwisko" formControlName="lastname">
        </mat-form-field>
    </div>    

    <mat-form-field>
        <mat-label>Data urodzenia</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="birthdate">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Zapisz</button>
</form>